<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Projects</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Developer</th>
        <th>Starting date</th>
        <th>Deadline</th>
        <th>Comment</th>
    </tr>

    <%
    if(projectData.length!=0){
    var i=1;
    projectData.forEach(function(data){
    %>
    <tr>
        <td><%=i; %></td>
        <td><%=data.name %></td>
        <td><%=data.developer %></td>
        <td><%=data.starting_date %></td>
        <td><%=data.deadline %></td>
        <td><%=data.comment %></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="5">No Data Found</td>
        </tr>
    <% } %>
</table>
    </div>
</body>
</html>